{{define "yield"}}
    <h1>Get in touch!</h1>
    <p>
        To get in touch, please contact our support at 
        <a href="mailto:support@mygallery.in">
            support@mygallery.in
        </a>.
    </p>
{{end}}